* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #202124;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    font-size: 0.8em;
}

.main-nav {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #4F4F4F;
}

.main-nav > a {
    color: white;
    font-weight: 500;
    padding: 0.5em;
}

.main-nav > a:hover {
    color: #000;
}

.input-loading {
    display: none;
}

#loadingIndicador {
    display: none;
    position: absolute;
    top: 5.5%;
    left: 21%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#loadingIndicador > img {
    width: 50px;
    height: 30px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {

    body{
        background-image: url(laion.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        background-position: center top 200px ;
    }

    #meuInput {
        width: 200px;
        margin: 1rem;
    }

    .menu{
        text-align: center;
        margin-top: 2rem;

    }

    .botaoPesquisa{
        text-align: center;
        position: relative;
        bottom: 5px;
    }

    #loadingIndicador {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}